@import "../../../../styles/lib/_variables.scss";

.Content {

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );

	margin: 50px;
	column-gap: 25px;
	justify-items: center;
	align-items: center;
}

.Content article h1 {
	
}

.Content-block {

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
	column-gap: 15px;
	justify-items: center;
	align-items: center;
}


.Content img {

	width: 300px;
	height: auto;
	transform: rotate(5deg);
	z-index: 1;
	
}


.Content img:hover {
	animation: artwork-motion 1s linear normal forwards;
}

@keyframes artwork-motion {
	from {
		transform: rotate(5deg);
	}

	to {
		transform: rotate(0deg);
	}
}

h1 {
		font-family: 'Dancing Script', cursive;
}

article {
	text-align: center;
}


