
.Services {

	padding: 2%;
	text-align: center;
	font-family: sans-serif;

	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );

	column-gap: 50px;

	justify-items: center;
}

.Services img {

	width: 300px;
	border-radius: 100%;
}

.Services button {
	border: 0;
	background-color: transparent;
}