@import "../../../../styles/lib/_variables.scss";

.Artworks-categories {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 50px 0; 


}

.Artworks-category {

	cursor: pointer;

	padding: 30px 40px;

	border-radius: 	10px; 
	background-image: $color-brand-principal;

	max-height: 15vh;
	color: white;	
}

.Artworks-category:hover {
	box-shadow: 5px 20px 20px gray;
}

