@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import "../../../styles/lib/_variables.scss";


.Footer  {

	display: grid;

	grid-template-columns: repeat(3,1fr);

	grid-column-gap: $grid-column-gap-base; 

	padding: 1px 30px;
	box-shadow: $box-shadow-base;
	border-radius: 10px; 
	background-image: $color-brand-principal;


	max-height: 15vh;

	overflow: hidden;

	align-items: center;

	color: white;
}

.Footer-col-1 {

	grid-column: 1;
	justify-self: start;

}

.Footer-col-2 {

	grid-column: 2;
	justify-self: center;
	text-align: center;

	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin: 0;

}

@media screen and (max-width: 600px) {

	.Footer-col-2 {
		font-size: 20px;
	}
}

.Footer-col-3 {
	grid-column: 3;
	justify-self: end;
}

