@import "../../../styles/lib/_variables.scss";

.Modal {
	
	width: 30vw;
	min-height: 60vh;

	max-height: 80vh;

	position: fixed;
	top: 20vh;
	right:0vw;
	
	background-color: white;

	display: grid;

	text-align: center;
	justify-content: start;
	vertical-align: top;

	padding: 10px 30px;
	box-shadow: $box-shadow-base;
	border-radius: 0px 0px 10px 10px; 
	background-image: $color-brand-principal;
	color: white;

	font-size: 20px;

	animation-name: enter-modal;
	animation-duration: 1s;
}

@media screen and (max-width: 350px) {
	.Modal {
		width: 80vw;
	}
}

.Modal-close {

	color: white;
	background-color: transparent;

	font-weight: bold;

	border-radius: 90px;
	border-radius: 5px;
	padding: 5px;
	align-self: end;
}


@keyframes enter-modal {
	from {
		transform: translate(160vw , 0px);
	}

	to { 
		transform: translate(0px , 0px);
	}
}


